/* ================ reset 样式 start  ================ */
/* noto-sans-sc-regular */
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: regular;
    src: url('//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans SC'), local('NotoSans SC-Normal'),
         url('//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.woff') format('woff'), /* Modern Browsers */
         url('//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.svg#NotoSans SC') format('svg'); /* Legacy iOS */
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans SC', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd {
    margin: 0px;
    padding: 0px;
    font: normal 100%;
    font-weight: normal;
}
img {
    border-style: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none
}
html, body {
    background: #fff;
    height: 100%;
}
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
    outline: 0;
}
textarea {
    -webkit-appearance: none;
}
/* ================ reset 样式 end  ================ */
.inner-center {
    width: 75%;
    margin: 0 auto;
}
.header {
    padding-top: 10px;
}
.main {
    min-height: 100%;
    padding-top: 80px;
}
.content-inside{
    padding-bottom: 76px;
}
.footer {
    height: 60px;
    text-align: center;
    margin-top: -60px; 
    /* position: relative;
    margin-top: -100px; 
    clear:both; */
}
.footer a, a:link, a:hover, a:visited, a:active {
    color: rgba(49, 70, 89, 1);
}
.footer p{
    margin: 16px 0;
    height: 40px;
    font-size: 16px;
}
.footer p img{
    display:inline-block;
    height: 35px;
    vertical-align: -12px;
}
/* logo start  */
.logo-box {
    position: relative;
    overflow: hidden;
    color: #333;
    text-align: left;
    padding-bottom: 80px;
}
/* logo end  */
/* 搜索框 start */
.search-section {
    position: relative;
    display: flex;
    width: 31%;
    margin: 0 auto;
}
.search-section input::placeholder {
    direction: rtl;
    text-align: left;
    font-style: italic;
}
.search-left {
    display: flex;
    width: 100%;
    height: 44px;
    line-height: 20px;
    border: 1px solid rgba(217, 217, 217, 0.96);
    border-radius:25px;
    -moz-border-radius:25px; /* Old Firefox */
}
.search-logo {
    width: 40px;
    align-items: center;
    justify-content: center;
    background: url("img/scgoogle.png") center center no-repeat;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    cursor: pointer;
}
.search-logo:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
}
.search-methods {
    display: none;
    position: absolute;
    left: 0;
    top: 44px;
    width: 155px;
    max-width: 155px;
    border: 1px solid rgba(217, 217, 217, 0.96);
    background-color: #fff;
}
.search-methods li {
    padding-left: 39px;
    background: url("img/scgoogle.png") 10px no-repeat;
    background-size: 20px 20px;
    overflow: hidden;
    height: 34px;
    line-height: 34px;
    color: #545454;
    cursor: pointer;
}
.search-logo {
    background-size: 20px 20px;
}
.search-logo.baidu, li.baidu {
    background-image: url("img/scbaidu.png");
}
.search-logo.bing, li.bing {
    background-image: url("img/scbing.png");
}
.search-logo.sogou, li.sogou {
    background-image: url("img/scsogou.png");
}
.search-logo.wangpan, li.wangpan {
    background-image: url("img/scwangpan.png");
}
.search-logo.so, li.so {
    background-image: url("img/scso.png");
}
.search-logo.google, li.google {
    background-image: url("img/scgoogle.png");
}
.search-logo.jingdong, li.jingdong {
    background-image: url("img/jingdong.png");
}
.search-logo.github, li.github {
    background-image: url("img/github.png");
}
.search-logo.taobao, li.taobao {
    background-image: url("img/taobao.png");
}
.search-logo.whois, li.whois {
    background-image: url("img/whois.png");
}
.search-methods .search-item:hover {
    background-color: #f0f0f0;
}
.search-result {
    display: none;
    position: absolute;
    max-width: 300px;
    top: 55px;
    left: 40px;
    border: 1px solid rgba(187, 187, 187, 1);
    background-color: #fff;
}
.result-item {
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
}
.result-item.active {
    background: #F0F0F0;
}
.result-item:hover {
    background-color: #eee;
    cursor: pointer;
}
.input-wrap {
    position: relative;
    flex: 1;
}
.input-wrap .search-input {
    height: 42px;
    width: 91%;
    outline: 0;
    border: 0;
    font-size: 16px;
    padding-left: 5px;
}
/* .input-wrap .search-input:focus{
    border-style:solid;
    border-color: #FDA31E 96%;
    box-shadow: 0 0 10px #FDA31E;
    } */
/* .search-left:focus{
    border-style:solid;
    border-color: #FDA31E 96%;
    box-shadow: 0 0 10px #FDA31E;
    } */
.input-wrap .clear-keyword {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #d2d2d2;
    font-size: 20px;
}
.search-submit {
    width: 20%;
    max-width: 125px;
    min-width: 44px;
    height: 44px;
    line-height: 26px;
    background: url("img/search.png") #1890ff  center no-repeat;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-family: 'Noto Sans SC', sans-serif;
    border: 1px solid #1890ff;
    cursor: pointer;
}
/* 搜索框 end */
/*  导航内容 start  */
.nav-content {
    overflow: hidden;
}
/*  导航内容 end  */
/*内容区域*/
/*-----------------------------简洁版样式定义- 开始---------------------------------------------------*/
.jj-list {
    width: 100%;
    float: left;
    margin-top: -30px;
    /*padding-right: 16px;*/
    padding: 30px 0;
}
.jj-lists {
    padding-bottom: 30px;
}
.jj-list:nth-of-type(3n) {
    padding-right: 0;
}
.jj-list-tit {
    box-sizing: border-box; /*以 IE 盒子模型的 width 为标准*/
    font-size: 16px;
    line-height: 25px;
    color: rgba(49, 70, 89, 1);
    font-weight: bold;
    width: 100%; /*div 等分*/
    margin: 0 0 10px 31px;
}
.jj-list-tit span{
    font-weight: normal;
}
.jj-list-con {
    overflow: hidden;
    margin: 0 auto;
}
.jj-list-con li {
    box-sizing: border-box; /*以 IE 盒子模型的 width 为标准*/
    padding: 1px 1px; /*设置 div 的内边距*/
    width: 16.6%; /*div 等分成 6 部分*/
    float: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.jj-list-con li a{
    display: block;
    /*background: rgba(230, 247, 255, 0.96);*/
    background: #f2f2f2;
    color:rgba(49, 70, 89, 1);
    font-size: 13px;
    text-align: left;
    padding-left: 1.7em;
    line-height: 44px;
    transition: all 0.2s;
    border-radius: 2px;
}
.jj-list-con li a img{
    height: 13px;
    margin-right: 8px;
}
.jj-list-con li a:hover {
    background: #1890FF 100%;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.jj-list-con li a:hover img{
    height: 18px;
    margin-right: 8px;
}
/* 导航栏样式 */
header {
    width: 100%;
    position: relative;
    z-index: 2;
}
.jinrishici-desc{
    font-weight: normal;
    white-space:nowrap;
    font-size: 1.3em;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.container {
    display: grid;
    grid-template-columns: 20% 60% 10% 10%;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: start;
    align-items: center
}
.about {
    display: inline-block;
    color: #333;
}
.about a {
    color: #333;
    text-decoration: none;
}
.about a:hover {
    color: #1890ff;
}
.about span {
    padding: 0 2px;
}
.poem {
    color: #333;
}
.poem a {
    color: #333;
    text-decoration: none;
}
.poem a:hover {
    color: #1890ff;
}
.poem_sentence,
.poem_info {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.poem_info {
    font-size: small;
    font-style: italic;
    height: 100%;
    max-width: 50%;
    min-width: 20%;
}
.poem_info a {
    text-decoration: none;
}
.shici, .shici a{
    cursor: text;
}
@media (max-width: 899px) {
    .container {
        grid-template-columns: 100%
    }
    #he-plugin-simple[data-v-41ba7e2c],.poem, .about {
        display: none !important;
    }
    .logo-box {
        padding: 20px 0;
    }
    .main {
        padding-top: 25px;
    }
}
#weather-view-he {
    display: none !important;
}
.s-sticker div[data-v-41ba7e2c]:not(:first-child):not(:last-child) {
    padding: 0 2px !important;
}
.greeting {
    display: table;
    padding-left: 20px;
}
.greetings {
    display:table-cell;
    vertical-align: middle;
}
.greetings:hover {
    color: #1890ff;
    cursor: text;
}
.clock {
    padding-left: 20px;
}
.copyright {
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5em;
    margin: 15px 0;
    padding-bottom: 20px;
}
.copyright--user {
    margin: auto;
    text-align: center
}
.copyright>:first-child:not(:only-child) {
    border-right: 1px solid;
    padding-right: 10px;
    margin-right: 10px
}
/*-----------------------------简洁版样式定义- 结束---------------------------------------------------*/
/*-----------------------------手机自适应---------------------------------------------------*/
@media screen and (max-width:1800px) {
    .copyright>:first-child:not(:only-child) {
        border: none;
        padding: 0;
        margin: 0
    }
}
@media screen and (max-width:1800px) {
    .copyright {
        flex-direction: column;
        margin: 15px 0;
    }
}
@media screen and (max-device-width: 1800px) {
    .time {
        width: 80%;
    }
    .hidetimezone {
        display: none;
    }
    .header li {
        margin: 0px 14px;
    }
    .header li a {
        font-size: 14px;
    }
    .inner-center {
        width: 85%;
    }
}
@media screen and (max-device-width: 1259px) {
    .jj-list-con li {
        width: 33.3%; /*div 等分成 3 部分*/
    }
    .jj-list-con li a{
        padding: 0 0.7em;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .search-left {
        height: 39px;
    }
    .search-methods {
        top: 39px;
    }
    .search-submit {
        min-width: 39px;
        height: 39px;
    }
    .input-wrap .search-input {
        height: 37px;
    }
    .jinrishici-desc{
        display: none;
    }
    .jj-list-tit span{
        display: none;
    }
    .time {
        display: none;
    }
    .s-sticker {
        padding-left:4px !important;
    }
    .s-sticker-cond {
        padding-left: 0 !important;
    }
    /* 20220305 */
    .container {
        grid-template-columns: 100%
    }
    #he-plugin-simple[data-v-41ba7e2c],.poem, .about {
        display: none !important;
    }
    .logo-box {
        padding: 20px 0;
    }
    .main {
        padding-top: 40px;
    }
    .search-section {
        width: 90%;
    }
}